.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.register-form{
    border: 1px solid gray;
    padding: 30px;
    width: 350px;
}